.Posts {
    display: row;
    justify-content: center;
    height:auto;
    width: 80%;
    margin: auto;
    padding: 2px solid lightblue;
   
}
@media(min-width:800px){
.Posts {
    display: flex;
    justify-content: center;
    height:auto;
    width: 80%;
    margin: auto;
    padding: 2px solid lightblue;
   
}
}