.Trip #thetrip{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRioJ64_MyJSYH9rlpX7GeY2tTK6t6eEe4NtaWni_A6PgsgEP67');
    margin: auto;
    height: auto;
  width: 70%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
 
 
}